@model ShopSystem.Models.ViewModels.Laptop.DetailsLaptopVm
@{
    ViewBag.Title = "Laptop Details";
}

<div class="container">
    <h2>Laptop details: @Model.ModelName</h2>
    <div class="row">
        <div class="col-sm-3 pull-left" id="laptops">
            @{
                var base64image1 = Convert.ToBase64String(Model.Image1);
                var img1src = string.Format("data:image/gif;base64, {0}", base64image1);
            }
            <img id="DetailsPicture" src="@img1src" />       
        </div>
        <div class="col-sm-2 pull-right">
            <p>
                @Model.Description1
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-2 pull-left">
            <p>
                @Model.Description2
            </p>
        </div>
        <div class="col-sm-3 pull-right" id="laptops">
            @{
                var base64iamge2 = Convert.ToBase64String(Model.Image2);
                var img2src = string.Format("data:image/gif;base64, {0}", base64iamge2);
            }
            <img id="DetailsPicture" src="@img2src" />
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-3 pull-left" id="laptops">
            @{
                var base64iamge3 = Convert.ToBase64String(Model.Image3);
                var img3src = string.Format("data:image/gif;base64, {0}", base64iamge3);
            }
            <img id="DetailsPicture" src="@img3src" />
        </div>
        <div class="col-sm-2 pull-right">
            <p>
                @Model.Description3
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-2 pull-left">
            <p>
                @Model.Description4
            </p>
        </div>
        <div class="col-sm-3 pull-right" id="laptops">
            @{
                var base64iamge4 = Convert.ToBase64String(Model.Image4);
                var img4src = string.Format("data:image/gif;base64, {0}", base64iamge4);
            }
            <img id="DetailsPicture" src="@img4src" />
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-3 pull-left" id="laptops">
            @{
                var base64iamge5 = Convert.ToBase64String(Model.Image5);
                var img5src = string.Format("data:image/gif;base64, {0}", base64iamge5);
            }
            <img id="DetailsPicture" src="@img5src" />
        </div>
        <div class="col-sm-2 pull-right">
            <p>
                @Model.Description5
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.ModelName)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.ModelName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Memory)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Memory)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Storage)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Storage)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Processor)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Processor)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.OperationSystem)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.OperationSystem)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Display)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Display)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Graphics)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Graphics)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Camera)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Camera)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Battery)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Battery)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Audio)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Audio)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Weight)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Weight)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Color)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Color)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Price)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Price)</td>
            </tr>
        </tbody>
    </table>
</div>

<br>
@Html.ActionLink("Back", "List", "Laptop", new { @class = "btn btn-lg btn-primary" })