@model IEnumerable<ShopSystem.Models.ViewModels.Laptop.LaptopsVm>

@{
    ViewBag.Title = "Laptops";
}

<h2>Laptops</h2>

<div class="container">
    <div class="row">
        @foreach (var vm in Model)
        {

            <div class="col-sm-3" id="laptops">
                @{
                    var base64 = Convert.ToBase64String(vm.Image1);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                }
                <img id="picture" src="@imgsrc" />
                <br>
                @Html.DisplayNameFor(laptopVm => laptopVm.ModelName):
                @Html.DisplayFor(vms => vm.ModelName)
                <br>
                @Html.DisplayNameFor(laptopVm => laptopVm.Price):
                @Html.DisplayFor(vms => vm.Price)
                <br>
                @Html.ActionLink("More details", "Details", "Laptop", new { id = vm.Id }, new { @class = "link" })
            </div>
                    }
    </div>
</div>
@Html.ActionLink("Back", "Index", "Home", new { area = "" }, new { @class = "btn btn-lg btn-primary" })