@model ShopSystem.Models.ViewModels.Admin.AdminDetailsLaptopsVm
@{
    ViewBag.Title = "Admin Details Laptop";
}

<h1>Admin Panel</h1>
<hr>

<h2>Laptop Details</h2>

<div class="container">
    <h2>Laptop details:</h2>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.ModelName)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.ModelName)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Description)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Description)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Memory)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Memory)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Storage)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Storage)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Processor)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Processor)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.OperationSystem)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.OperationSystem)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Display)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Display)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Graphics)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Graphics)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Camera)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Camera)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Battery)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Battery)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Audio)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Audio)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Weight)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Weight)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Color)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Color)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(DetailsLaptopVm => DetailsLaptopVm.Price)</th>
                <td>@Html.DisplayFor(DetailsLaptopVm => DetailsLaptopVm.Price)</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
@Html.ActionLink("Back", "AdminLaptopsList", "Admin",new { area = ""}, new { @class = "btn btn-lg btn-primary" })
